body{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(239, 241, 241, 0.836);
}
h1#header{
    text-align: center;
    background-color: rgb(252, 252, 252);
    background-size: auto;
    padding: 40px;
    font-family: cursive;
    border-radius: 5px;
    text-decoration: underline;
}
p{
    color: black;
}
section#intro{
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    border-color: black;
    font-family: cursive;
    
}

h2.heading{
    color: antiquewhite;
    
}
ul#edtech,ul#contact{
    color: antiquewhite;
}
a{
    color: beige;
}
a:hover{
    text-decoration: none;
}
a:visited{
    color: rgb(178, 43, 190);
}
img{
    border-radius: 45px;
    cursor: none;
}
.container{
    border: 10px solid white;
    border-radius: 65px;
    padding: 50px;
    margin: 20px;background-color: rgb(28, 29, 31);

}
img:hover{
    border-color: gold;
    border-radius: 0px;
    
}
