*{
    font-family: sans-serif;
}




body{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0B0C10;
}
h1#header{
    text-align: center;
    background-color: rgb(252, 252, 252);
    background-size: auto;
    padding: 40px;
    font-family: cursive;
    border-radius: 5px;
    text-decoration: underline;
}
p{
    color: black;
}
section#intro{
    /* background-color: ; */
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    /* border-color: ; */
    color: #66FCF1;
    font-family: cursive;
    
}

h2.heading{
    color: #C5C6C7;
    
}
ul#edtech,ul#contact{
    color: antiquewhite;
}
a{
    color: beige;
}
a:hover{
    text-decoration: none;
}
a:visited{
    color: none;
}
img{
    border-radius: 45px;
    cursor: none;
}
.container{
    border: 10px solid white;
    border-radius: 65px;
    padding: 50px;
    margin: 20px;background-color: #0B0C10;

}
img:hover{
    
}